@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lora- {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
}

body {
    font-family: "Lora", sans-serif;
    background-color: rgb(181, 148, 107);
}

h1 {
    text-align: center;
}

h3 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: rgb(94, 73, 47);
    color: #474747f3;
    align-items: center;
}

#logo-img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

#links a {
    text-decoration: none;
    color: #ececec;
    font-size: 1.2rem;
}

#links a {
    text-decoration: none;
    color: #ececec;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#links a:hover {
    border-bottom: 3px solid #926d2df3; 
    color:rgb(181, 148, 107);
    transform: scale(1.05);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #926d2df3;
    margin: 20px;
}

#carousel img {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

#main-new {
    width: 70%;
    background-color: rgba(189, 126, 54, 0.37);
    margin: 20px auto;
    padding: 20px;
}

#aside {
    width: 28%;
    background-color: rgba(255, 228, 196, 0.215);
    margin: 20px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
}